<Footer>
    &copy; 2025 Dr Mehdi. All right reserved.
    <div class="social-link">
        <a href="https://github.com/Azizaction" target="_blank" aria-label="Github"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/mehdi-dr/" target="_blank" aria-label="LinkedIn"><i class="fab fa-linkedin"></i></a>
        <a href="https://mail.google.com/mail/?view=cm&to=drouanmehdi04@gmail.com" target="_blank" aria-label="Email"><i class="fa-solid fa-envelope"></i></a>
    </div>
</Footer>