<div class="about-header">
    <a class="back-btn" href="/" class="back">← Back</a>
    <h1 class="about-title">About Me</h1>
</div>
<div class="para-me">
<h2>Who am i ?</h2>
<p>Alors qui suis je ? voilà la geande question, je suis tellement beaucoup et peu de chose en même temps. Non je déconne, plus sérieusement, je m'appelle Drouan Mehdi, je suis Marocain habitant au Canada, j'ai 20 ans je suis un  charmant jeune homme d'après mes parents, célibataire, j'aime le sport, la nourriture, jouer au jeux vidéo et le plus important le développement, je parle 3,5 langue </p>
</div>
<div class="para-perso">
<h3>How i work? </h3>
<p>Vous avez qui je suis mais vous avez pas </p>
</div>