<div class="about-header">
    <h1 class="about-title">About Me</h1>
</div>
<h2>Who am i ?</h2>
<div class="para-me">
    <p>
        My name is Drouan Mehdi, I am Moroccan and based in Canada. I am a recent graduate of La Cité collégiale with a
        DEC in Computer Programming. <br>

        I am 20 years old and I enjoy every moment in life. I like food, animals, playing video games, and life in
        general.I also enjoy creating and developing many things. <br>

        I speak three languages and I am learning several others. I am a very open-minded person who enjoys learning new
        things and who is only afraid of not trying. <br>
    </p>
    <img src="/Assets/me.png" alt="representation of me">
</div>

<h3>What's my domain?</h3>
<div class="para-work">
    <img src="/Assets/code.png" alt="representation of my work">
    <p>
        So I am someone who is more specialized in the creation and design of websites and desktop and web
        applications. <br>

        I mainly use languages such as HTML, JS, CSS, Python, C#, and also frameworks like React, Next.js, Node.js, WPF,
        and XAML, for solid and structured development. <br>

        I am also very comfortable with database management systems (DBMSs), such as MySQL, SQLite, MongoDB, or SQL
        Server, with a preference for MySQL. <br>

        But besides that, I also enjoy exploring and coding in other fields such as Arduino, games, or even mobile
        applications, simply out of curiosity and because I enjoy it.

        If you would like to know more about my experience, click here to download my resume.
        N.B.: At the bottom of the page, you will see all the tools I work with.
    </p>
</div>

<h4>How i work? </h4>
<div class="para-perso">
    <p>
        You already have an idea of who I am and what I do, but you do not yet have a clear view of how I work. <br>

        To keep it simple, I am someone who is rather methodical and very precise in my work. For me, each task
        requires time and energy in order to be completed properly. <br>

        I work primarily with logic and analysis. I am a very determined person who values smart and hard work.
        I am committed to delivering high-quality, clean and solid work, while remaining as efficient and fast
        as possible. <br>

        When facing problems, I maintain a calm and structured approach. I analyze and break down the problem in order
        to gain a global understanding of it and resolve it in the most optimal way possible. <br>
    </p>
    <img src="/Assets/perso.png" alt="representation of a mind">
</div>