<div class="about-header">
    <a class="back-btn" href="/" class="back">← Back</a>
    <h1 class="about-title">About Me</h1>
</div>
<h2>Who am i ?</h2>
<div class="para-me">
    <p>
        My name is Mehdi, I am Moroccan and based in Canada. I am a recent graduate of La Cité collégiale with a DEC in
        Computer Programming.
        I am 20 years old, I enjoy sports, food, animals, playing video games, and life.
        I also enjoy creating and developing many things.
        I speak 3 languages and am learning several others.
    </p>
    <img src="/Assets/me.png" alt="representation of me">
</div>

<h3>What's my domain?</h3>
<div class="para-work">
    <p>
        So I am someone who is more specialized in the creation and design of websites and desktop and web
        applications. <br>

        I mainly use languages such as HTML, JS, CSS, Python, C#, and also frameworks like React, Next.js, Node.js, WPF,
        and XAML, for solid and structured development. <br>

        I am also very comfortable with database management systems (DBMSs), such as MySQL, SQLite, MongoDB, or SQL
        Server, with a preference for MySQL. <br>

        But besides that, I also enjoy exploring and coding in other fields such as Arduino, games, or even mobile
        applications, simply out of curiosity and because I enjoy it.

        If you would like to know more about my experience, click here to download my resume.
        N.B.: At the bottom of the page, you will see all the tools I work with.
    </p>
    <img src="/Assets/code.png" alt="representation of my work">
</div>

<div class="para-perso">
    <h3>How i work? </h3>
    <p>Vous avez qui je suis mais vous avez pas </p>
</div>