<div class="home-section">
    <ul class="lang-text">
        <li data-index='en'>Welcome</li>
        <li data-index='fr'>Bienvenue</li>
        <li data-index='ar'> مرحباً</li>
        <li data-index='es'> Bienvenido</li>
        <li data-index='al'>Willkommen</li>
        <span class="lang-cursor"></span>
    </ul>
    <div class="Text-container">
        <p id="Text-lang"></p>
    </div>
</div>