body{
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../Assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    backdrop-filter: blur(10px);
}

.sign-container{
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgba(148, 3, 245, 0.4), rgba(28, 1, 77, 0.4));
    max-width: fit-content;
    max-height: fit-content;
}

#sign-in-form{
    padding: 10 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-input input{
    padding: 10px;
    width: 100%;
    border: 1px solid transparent;
    background-color:transparent;
    border-radius: 10px;
    transition: transform 200ms ease, box-shadow 200ms ease;
    will-change: transform;
}

.form-input input:hover{
    transform: translateY(-5px) scale(1.04);
    box-shadow: 0 12px 30px #00f7ff;
}

