body{
    margin: auto;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
    url("../Assets/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    backdrop-filter: blur(10px);
}

.sign-container{
    margin: 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, rgba(148, 3, 245, 0.3), rgba(28, 1, 77, 0.3));
    height: auto;
    width: auto;
    border-radius: 20px;
    min-height: fit-content;
}

.sign-container h1{
    text-align: center;
    font-family: "Inter", system-ui, serif;
    font-size: 40px;
    font-weight: 600;
    color: #00f7ff;
}

.sign-container span {
    text-align: center;
    font-family: "Inter", system-ui, serif;
    font-size: 20px;
    font-weight: 300;
    color: #00f7ff;
}

.sign-container a{
    text-decoration: none;
    font-weight: bolder;
    font-family: "Inter", system-ui, serif;
    font-size: 20px;
    color: #00f7ff;
}

#sign-in-form{
    padding: 10 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.form-input{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-input input{
    padding: 10px;
    width: 100%;
    border: 1px solid transparent;
    background-color:transparent;
    border-radius: 10px;
    transition: transform 200ms ease, box-shadow 200ms ease;
    will-change: transform;
}

.form-input label{
    text-align: left;
    font-family: "Inter", system-ui, serif;
    font-size: medium;
    font-weight: 400;
    color: #00f7ff;
    border: 1px solid transparent;
}

.form-pswd-input{
    position:relative;
    display: flex;
    align-items: center;
}

#opt-display{
    position: absolute;
    background: transparent;
    right: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: transform 200ms ease;
    will-change: transform;
}

#btn-sign-in{
    background: linear-gradient(to right, rgba(142, 2, 235, 0.671), rgba(55, 2, 153, 0.664));
    text-align: center;
    border-radius: 12px;
    text-decoration: none;
    cursor: pointer;
    color: #00f7ff;
    font-size: 15px;
    font-family: "Inter", system-ui, serif;
    font-weight: 600;
    padding: 5px 15px;
    width: auto;
}

.form-input input:not(:focus):hover{
    transform: translateY(-5px) scale(1.04);
    box-shadow: 0 12px 30px #00f7ff;
}

.form-input input:not(:focus):hover + #opt-display{
    transform: translateY(-5px) scale(1.04);
}

.form-input input:focus{
    outline: none;
    box-shadow: 0 12px 30px #00f7ff;
}