body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url("../Assets/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(134, 5, 240), rgba(38, 2, 78, 0.911));
    padding: 10px;
}
.Logo-Text img{
    height: 100px;
    width: 150px;
    background: linear-gradient(to right, rgb(134, 5, 240), rgba(38, 2, 78, 0.911));
}

nav{
    flex: 1;
    padding: 20px;
}

nav ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-wrap: 1;
    gap: 24px;
    list-style: none;
}

nav a{
    text-decoration: none;
    font-size: 30px;
    color: #00f7ff;
    font-weight: 500;
    font-family: "Inter", system-ui, serif;
}

footer{
    display: flex;
    justify-content:space-between;
    align-items:center;
    background: linear-gradient(to right, rgb(134, 5, 240), rgba(38, 2, 78, 0.911));
    padding: 10px;
    font-size: 30px;
    color: #00f7ff;
    font-weight: 200;
}

.social-link{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.social-link a {
    display: inline-flex;
    transition: transform 400ms ease, box-shadow 200ms ease;
    will-change: transform;
    text-decoration: none;
}

.social-link a:hover{
    transform: translateY(-5px) scale(1.04);
    box-shadow: 0 12px 30px  #00f7ff;
}

.home-section{
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.lang-text{
    position: relative;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    padding: 0;
}

.lang-text li{
    padding: auto;
    position: relative;
    font-size: 30px;
    color: black;
    font-weight: 500;
    font-family: "Inter", system-ui, serif;

}

.lang-cursor{
    position: absolute;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: black;
    transition: all 0.5s ease;
    left: 0;
}

#Text-lang{
    text-align: center;
    font-size: 23px;
    font-weight: 200;
    color: #00f7ff;
    line-height: 1.5em;
    font-family: "Inter", system-ui, serif;
}

.Text-container{
    text-align: center;
    justify-content: center;
    background: linear-gradient(135deg, #8a2be2 0%, #000 70%);
    align-items: center;
    width: 850px;
    height: fit-content;
    padding: 15px;
    box-shadow: 0 30px 40px #000;
    border-radius: 18px;
    backdrop-filter: blur(12px);
}

#text-cursor{
    display: inline-block;
    height: 20px;
    width: 8px;
    background: #00f7ff;
    animation: blink 0.7s infinite;
    vertical-align: bottom;
}

@keyframes blink {
    50% { opacity: 1;}
    100% {opacity: 0;}
}

.about-header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.about-title{
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
}

.back-btn{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    font-weight: 500;
    font-family:  "Inter", system-ui, serif;
    padding: 10px;
    margin-bottom: auto;

}

.para-work, .para-me, .para-perso{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 10px;
    
}

.para-work p, .para-perso p{
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    padding: 15px;
    font-size: 23px;
    font-weight: 200;
    color: #00f7ff;
    line-height: 1.5em;
    font-family: "Inter", system-ui, serif;
    margin-right: auto;
    margin: 20px;
}

.para-me p{
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    padding: 15px;
    font-size: 23px;
    font-weight: 200;
    color: #00f7ff;
    line-height: 1.5em;
    font-family: "Inter", system-ui, serif;
    margin-left: auto;
    margin: 20px;
}

img{
    width: 40%;
    height: 400px;
    object-fit: cover;
    display: block;
    margin: 10px;
    border-radius: 20px;
}